
@import './vendor/normalize';
@import './partials/colors';
@import './partials/typography';
@import './partials/mixins';


@media (min-width: 1024px) {
body {
background-color: white;
}
}

nav {
height: fit-content;
    background-color: $dark-background;
ul {
    margin-bottom: 10px;
    padding: 20px;
    
li {
    display: inline-block;
a {
text-decoration: none;
color: white;
}
}
}
}


.container {
    *{
       box-sizing: border-box; 
    }
.content {
float: left;
width: 50%;
margin-bottom: 40px;
p {
color: black; 
}
a {
    margin-bottom: 25px;
}
button{
background-color: $primary-color;
color: $font-color;
}

}
.content1 {
float: right;
width: 50%;
margin-bottom: 40px;
}
}


header {
.brand {
float: left;
width: 15%;
text-decoration: none;
text-transform: uppercase;
font-size: 25px;
color: white;
font-family: $primary-font;

}
li{
float: right;
width: 8%; 
color: white;
}
}

.container {
    h1 {
text-align: center;
color: $primary-color;
font-family: $secondary-font;
    }
    h3 {
text-align: center;
font-family: $third-font;
    }
    p{
text-align: center;
    }   
}

.order_cta {
@include underline-button(5px, $other-color);
}

.survey_cta {
@include underline-button(25px, $button-color);
}