
@import './vendor/normalize';
@import './partials/colors';
@import './partials/typography';

@media (min-width: 1024px) {
body{
background-color: white;
}
}

nav{
height: fit-content;
    background-color: rgba(30, 17, 3, 0.866);

ul{
    margin-bottom: 10px;
    padding: 20px;
    
li{
    display: inline-block;
    color: white;
a{
text-decoration: none;
color: white;
}
}
}
}


.container{
    *{
       box-sizing: border-box; 
    }
.content{
float: left;
width: 50%;
background-color: white;
margin-bottom: 40px;
p{
color: black; 
}
a{
    margin-bottom: 25px;
}
button{
background-color: $primary-color;
color: $font-color;
}

}
.content1{
background-color: white;
float: right;
width: 50%;
margin-bottom: 40px;
}
}


header{
.brand{
float: left;
width: 15%;
color: white;
text-decoration: none;
text-transform: uppercase;
font-size: 25px;

}
li{
float: right;
width: 8%; 
}
}

.container{
    h1{
text-align: center;
color: rgb(232, 156, 15);
font-family: $primary-font;
    }
    h3{
text-align: center;
    }
    p{
text-align: center;
    }   
}

.order_cta{
background-color: $primary-color;
color: $font-color;
text-decoration: underline;
}

.survey_cta{
background-color: $primary-color;
color: $font-color;
text-decoration: underline;
}